<p-panel header="Cadastro de Usuário">
  <div class="ui-g ui-fluid">        
    <form (ngSubmit)="onSearch(f)" #f="ngForm" style="width: 100%;">
        <div class="p-grid">
          <div class="p-col-12 p-lg-5 p-xl-5">                    
              <input type="text" id="search" name="search" 
              #search="ngModel" search
              ngModel pInputText
              placeholder="Localizar pelo nome">
          </div>                
          <div class="p-col-3 p-lg-1 p-xl-1">
              <p-checkbox [(ngModel)]="checked" 
              id="active" name="active" label="Ativos"
              binary="true"></p-checkbox>
          </div>
          <div class="p-col-1 search-icon">
              <button pButton type="submit" icon="pi pi-search"></button>
          </div>
          <div class="p-xl-1 p-xl-offset-3 p-col-3">
              <button pButton label="Adicionar" type="button" 
              class="ui-button-raised ui-button-success" (click)="onCreate()"></button>
          </div>
        </div>
    </form>
    <p-table [value]="userList" [paginator]="true" [rows]="10" [loading]="carregando">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td style="text-align: center">{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.login}}</td>
                <td style="text-align: center">{{user.status}}</td>
                <td style="text-align: center"><button pButton type="submit" icon="pi pi-pencil" (click)="onEdit(user.id)"></button></td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</p-panel>
<!--<div class="container border py-3">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3>Cadastro de Usuários</h3>
    </div>
  </div>
  <div class="row py-1">
    <div class="col-md-10">
        <form (ngSubmit)="onSearch(f)" #f="ngForm" class="form-inline">
          <div class="form-group mr-2">            
            <label for="search">Localizar:</label>
          </div>   
          <div class="form-group mr-2">
              <input type="text" id="search" name="search" 
              #search="ngModel" search
              ngModel class="form-control" 
              placeholder="Localizar pelo nome">
          </div>
          <div class="form-group mr-2">
            <div class="form-check">
              <input type="checkbox" id="active" name="active"
              #active="ngModel" active
              ngModel class="form-check-input">
              <label class="form-check-label" for="active">
                Somente Ativos
              </label>
            </div>
          </div>            
          <button class="btn btn-primary" type="submit">Pesquisar</button>
      </form>
    </div>
    <span class="col-md-2">
      <button class="btn btn-success" type="button" (click)="onCreate()">Adicionar</button>
    </span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Status</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.login }}</td>
            <td>{{ user.status == 'A' ? "Ativo" : "Inativo" }}</td>
            <td>
              <a  style="cursor: pointer;"
              (click)="onEdit(user.id)"><span class="badge badge-primary badge-pill">
                Editar
              </span> </a>
            </td>
          </tr>           
        </tbody>
      </table>     
    </div>
  </div>
</div> -->
