<div class="container border">
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <h3>Ciclo: {{ cycle.name }}</h3>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="alert alert-info" role="alert" *ngIf="this.cycle.status.id == 2">
          Você não pode alterar um ciclo já encerrado.
        </div>
        <form [formGroup]="configurationForm" (ngSubmit)="onSubmit()">
          <button type="button" class="btn btn-success" (click)="onAddConfiguration()" 
          [disabled]="this.cycle.status.id == 2 ? true : false">Adicionar Configuração</button>
            <app-cycle-configuration-dropdown
              *ngFor="let configuration of configurations; let i = index"
              [configuration]="configuration" [index]="i" [statusId]="cycle.status.id"
              (updateConfiguration)="onUpdateConfiguration($event)"
              (removeConfiguration)="onRemoveConfiguration($event)"
            ></app-cycle-configuration-dropdown>

          <button class="btn btn-primary" type="submit" [disabled]="!configurationForm.valid" 
            data-toggle="modal" data-target="#msgModal">
              Salvar
          </button>
          <button type="button" class="btn btn-danger ml-1" (click)="onCancel()">Cancelar</button>
        </form>
      </div>
  </div>
</div> 
